.logo {
  height: 120px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: rgb(255, 255, 255) 0px 1px 3px 0px,
    rgba(205, 230, 255, 0.15) 0px 0px 0px 1px;
  margin: 0 auto;
}
