.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 45px auto;
  position: relative;
  max-width: 600px;
  img {
    width: 100%;
    height: auto;
  }

  .bounding-box {
    position: absolute;
    box-shadow: 0 0 0 2px #42c5a8 inset;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
